* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-weight: 300;
  line-height: 1.2;
  font-family: $roboto;
  color: $white;
}

.wrapper {
  max-width: 1440px;
}

.hidden {
  display: none;
}

.back-to-top {
  display: none;
  position: fixed;
  right: 1%;
  bottom: 3%;
  z-index: 2;
  width: 50px;
  height: 50px;

  border: 2px solid $brand-color;
  border-radius: 50%;

  div {
    position: absolute;
    top: 60%;
    left: 50%;

    width: 20px;
    height: 20px;

    border: 2px solid $brand-color;
    border-right: none;
    border-bottom: none;
    transform: translate(-50%, -50%)rotate(45deg);
  }
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 16px;
  }
}
