.main-footer {

  padding: 40px $padding 20px;

  background-color: $secondary-color;

  &__wrap {
    margin-bottom: 40px;
  }

  &__left {
    margin-bottom: 30px;
  }

  &__right {
    text-align: center;
  }

  &__logo {
    display: flex;
    justify-content: space-between;

    a {
      flex: 0 0 45%;

      text-transform: none;
    }

    svg {
      width: 100%;
      height: 60px;
    }
  }

  &__tel {
    font-weight: 300;
    font-size: 1rem;
    text-decoration: underline;
  }

  .btn {
    margin-bottom: 20px;
  }

  &__mail {
    display: block;
    margin-bottom: 30px;

    font-size: 1rem;
    color: $white;
  }

  &__copyright {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 0.85rem;
    text-align: right;


    a {
      font-weight: 600;
      color: $white;
    }
  }
}

//  ********* MEDIA ***********8
@media only screen and (min-width: 992px) {
  .main-footer {
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__left {
      flex: 0 0 25%;
      margin-right: 40px;
      margin-bottom: 0;
    }

    &__right {
      display: flex;
      flex: 1 0 70%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__tel {
      margin: 0;
      margin-right: 10px;
      padding: 0;

      font-size: 1.375rem;
      color: $brand-color;
      text-decoration: none;

      &::before {
        content: "";

        display: inline-block;
        width: 30px;
        height: 1em;
        margin-right: 10px;

        vertical-align: middle;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.82 23.82'%3E%3Ctitle%3EPhone%3C/title%3E%3Cpath d='M20.74 2a1.06 1.06 0 0 1 1.08 1 18 18 0 0 1-5.5 13.24 18 18 0 0 1-13.24 5.5 1.06 1.06 0 0 1-1.08-1v-3.87c0-1.24 1.73-2.51 3.56-2.51a3.57 3.57 0 0 1 2.58 1.06l.19.16a1.6 1.6 0 0 0 1.12.42 1.46 1.46 0 0 0 .76-.21 16.06 16.06 0 0 0 5.68-5.38 1.6 1.6 0 0 0-.21-2l-.26-.34C13.78 6.51 14.61 2 16.87 2h3.87m0-2h-3.87a4.16 4.16 0 0 0-3.77 2.84c-.83 2-.8 4.87.8 6.6l.15.2a14 14 0 0 1-4.56 4.3 5.61 5.61 0 0 0-3.92-1.58c-3 0-5.57 2.11-5.57 4.51v3.87a3.06 3.06 0 0 0 3 3.08 20.06 20.06 0 0 0 14.66-6.08 20.06 20.06 0 0 0 6.16-14.66 3.06 3.06 0 0 0-3-3.08z' fill='%233ff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &__mail {
      margin: 0;
      margin-right: 10px;
      padding: 0;

      font-size: 1.375rem;
      color: $brand-color;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }

      &::before {
        content: "";

        display: inline-block;
        width: 30px;
        height: 1em;
        margin-right: 10px;

        vertical-align: middle;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.91 31.27'%3E%3Ctitle%3Email%3C/title%3E%3Crect x='2' y='2' width='40.91' height='27.27' style='fill:none;stroke:%233ff;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px'/%3E%3Cpath d='M2,2,21,21a2,2,0,0,0,2.83,0l19-19' style='fill:none;stroke:%233ff;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .btn {
      width: 200px;
      margin: 0;
      padding: 10px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main-footer {
    &__left {
      flex: 0 0 30%;
    }
  }
}
