.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 0 $padding;
  width: 100%;
  background-color: #000000;

  &__left,
  &__right {
    display: flex;
    flex: 0 0 45%;
    align-items: center;
  }

  &__left {
    justify-content: flex-start;
  }
}

.logo {
  flex: 0 0 100%;
  margin-right: 10px;

  svg {
    width: 100%;
    height: 30px;
  }
}

.header-icons {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  align-items: center;

  &__link {
    flex: 0 0 33%;

    svg {
      width: 100%;
      height: 30px;
    }
  }
}

.header-contacts {
  display: none;
}

.menu-button {
  position: relative;
  z-index: 102;

  width: 40px;
  height: 25px;
  margin-left: 10px;

  background-color: transparent;
  border: none;
  outline: none;
}

$w: 25px;
$h: 2px;

.sandwich {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: $w;
  height: $w;
  margin: auto;

  &__topper {
    position: relative;
    top: 0;

    display: block;
    width: $w;
    height: $h;

    background: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;

    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
  }

  &__bottom {
    position: relative;
    top: 33%;

    display: block;
    width: $w;
    height: $h;

    background: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;

    transition: transform 0.5s, top 0.2s;
  }

  &__footer {
    position: relative;
    top: 66%;

    display: block;
    width: $w;
    height: $h;

    background: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;

    transition: all 0.5s;
    transition-delay: 0.1s;
  }

  &.active {
    top: 50%;

    .sandwich__topper {
      top: 15%;

      transform: rotate(140deg);
    }

    .sandwich__bottom {
      top: 10%;

      transform: rotate(-140deg);
    }

    .sandwich__footer {
      top: 0;

      transform: rotate(180deg);
      opacity: 0;
    }
  }
}

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: rgba(37, 35, 58, 0.85);
  opacity: 0;
  transition: all 0.5s ease-in-out;

  ul,
  li {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  ul {
    text-align: center;

    a {
      display: block;
      padding: 20px 0;

      font-weight: 300;
      font-family: $roboto;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;

      transition: all 0.3s ease-in;

      &:hover,
      &:active,
      &:focus {
        color: $brand-color;

        outline: none;
      }
    }
  }
}

.main-menu.is-active {
  opacity: 1;
}

// ********** MEDIA ***********

// /* Small Devices, Tablets */
@media only screen and (min-width: 640px) {
  .main-menu {
    a {
      font-size: 1.5rem;
    }
  }
}


// /* Medium Devices, Desktops */
@media only screen and (min-width: 1026px) {
  .header__left {
    flex: 0 0 55%;
  }

  .header-contacts {
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-end;

    &__tel {
      margin-right: 40px;

      font-weight: 700;
      font-size: 1rem;
      font-family: $roboto;
    }

    &__mail {
      font-weight: 700;
      font-size: 1rem;
      font-family: $roboto;
      color: $brand-color;
      text-decoration: none;

      transition: all 0.3s ease-in;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }

  .header-icons {
    display: none;
  }

  .logo {
    flex: 0 0 30%;

    svg {
      height: 40px;
    }
  }

  .main-menu {
    position: static;

    display: initial;
    flex: 0 0 60%;
    width: auto;
    height: auto;

    background-color: transparent;
    opacity: 1;

    ul {
      display: flex;
      justify-content: space-between;

      a {
        display: initial;

        font-size: 1rem;
      }
    }
  }
}
