header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25%;
  min-height: 50px;

  background-color: #000000;
}

.logo {
  flex: 0 0 45%;

  svg {
    width: 100%;
    height: 40px;
  }
}

.header-icons {
  display: flex;
  flex: 0 0 45%;
  justify-content: space-between;
  align-items: center;

  &__link {
    flex: 0 0 33%;

    svg {
      width: 100%;
      height: 25px;
    }
  }
}

.menu-button {
  position: relative;
  z-index: 102;

  width: 40px;
  height: 25px;
  margin-left: 10px;

  background-color: transparent;
  border: none;
  outline: none;
}

$w: 25px;
$h: 2px;

.sandwich {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: $w;
  height: $w;
  margin: auto;

  &__topper {
    position: relative;
    top: 0;

    display: block;
    width: $w;
    height: $h;

    background: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;

    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
  }

  &__bottom {
    position: relative;
    top: 33%;

    display: block;
    width: $w;
    height: $h;

    background: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;

    transition: transform 0.5s, top 0.2s;
  }

  &__footer {
    position: relative;
    top: 66%;

    display: block;
    width: $w;
    height: $h;

    background: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;

    transition: all 0.5s;
    transition-delay: 0.1s;
  }

  &.active {
    top: 50%;

    .sandwich__topper {
      top: 15%;

      transform: rotate(140deg);
    }

    .sandwich__bottom {
      top: 10%;

      transform: rotate(-140deg);
    }

    .sandwich__footer {
      top: 0;

      transform: rotate(180deg);
      opacity: 0;
    }
  }
}

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;

  width: 100vw;
  height: 100vh;

  background-color: rgba(37, 35, 58, 0.85);
  opacity: 0;

  transition: all 0.5s ease-in-out;

  ul,
  li {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  ul {
    margin-top: 100px;

    text-align: center;

    a {
      display: block;
      padding: 20px 0;

      color: $brand-color;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;

      transition: all 0.3s ease-in;

      &:hover,
      &:active,
      &:focus {
        outline: none;
        text-decoration: underline;
      }
    }
  }
}

.main-menu.is-active {
  opacity: 1;
}
