.promo {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 85vh;
  padding: 0 $padding 60px;

  background:
  linear-gradient(rgba(0, 0, 0, 0), $secondary-color),
  url("../img/kawasaki_bg.jpg") no-repeat center center;
  background-size: cover;

  &__date {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-weight: 700;
    font-size: 2.142rem;
    font-family: $fira;
    text-align: center;

    &--desktop {
      display: none;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-size: 1.42rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 700;
    font-size: 2.85rem;
    font-family: $fira;
    text-align: center;
    color: $brand-color;
    text-transform: uppercase;
  }

  &__place {
    margin-bottom: 20px;

    font-weight: 100;
    font-size: 1.714rem;
    text-align: center;
    color: $white;
    text-decoration: none;
  }

  &__buy {
    display: block;
    width: 70%;
    margin: 0 auto;

    text-align: center;

    svg {
      display: block;
      max-width: 100%;
      height: 50px;
      margin: 0 auto;

      transition: all 0.3s ease-in;
    }
  }

  .btn {
    display: none;
  }
}

.btn-buy {
  transition: all 0.3s ease-in;

  fill: transparent;
  stroke: $brand-color;
  stroke-width: 2px;

  &__text {
    fill: $brand-color;
  }
}

// ********** MEDIA *********
@media only screen and (min-width: 768px) {
  .promo {
    &__buy {
      svg {
        height: 70px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .promo {
    min-height: 95vh;

    background-position: center top;

    &__date {
      display: none;

      &--desktop {
        display: initial;
        margin-right: 20px;

        font-weight: 700;
        font-size: 3.75rem;
        text-decoration: none;
      }
    }

    &__descr {
      font-size: 2rem;
      letter-spacing: 10px;
    }

    &__place {
      font-size: 2.5rem;
    }

    &__title {
      font-size: 4.5rem;
      letter-spacing: 5px;
    }

    .btn {
      display: inline-block;
    }
  }
}
