.tickets {
  padding: 50px $padding;

  background-color: $secondary-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2127.38 2127.38'%3E%3Ctitle%3Etickets_bg_1%3C/title%3E%3Cpath d='M1861.67,1268.89l-592.78,592.78a129.11,129.11,0,0,1-182.39,0L265.71,1040.89a129.11,129.11,0,0,1,0-182.39L858.49,265.72a129.1,129.1,0,0,1,182.39,0l820.78,820.78A129.1,129.1,0,0,1,1861.67,1268.89ZM356.91,949.7l820.78,820.78,592.85-592.85L949.69,356.91ZM2089.66,630.51,1496.88,37.72a129.1,129.1,0,0,0-182.39,0L1132.09,220.12l91.2,91.2,182.39-182.39L1998.46,721.7,1816.07,904.1l91.2,91.2L2089.66,812.9A129.1,129.1,0,0,0,2089.66,630.51ZM904.09,1816.07,721.7,1998.47,128.92,1405.68l182.39-182.39-91.2-91.2L37.72,1314.49a129.11,129.11,0,0,0,0,182.39L630.5,2089.66a129.11,129.11,0,0,0,182.39,0l182.39-182.39Z' style='fill:%233ff;opacity:0.05'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    width: 60%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 700;
    font-size: 2.142rem;
    font-family: $fira;
    color: $brand-color;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 13%;
      right: -65%;

      display: block;
      width: 60px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 44'%3E%3Ctitle%3ECards%3C/title%3E%3Cpath d='M45 44H19a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h26a4 4 0 0 1 4 4v36a4 4 0 0 1-4 4zM19 4v36h26V4zm45 31V9a4 4 0 0 0-4-4h-8v4h8v26h-8v4h8a4 4 0 0 0 4-4zm-52 0H4V9h8V5H4a4 4 0 0 0-4 4v26a4 4 0 0 0 4 4h8z' fill='%233ff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }
  }
}
